[Unit]
Description=Elisa Demo Safety Application

[Service]
Type=simple
ExecStartPre=modprobe softdog
ExecStart=/usr/bin/safety-app

[Install]
WantedBy=multi-user.target

